* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
